.mapWrap {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1.5s getmap normal;
}

@keyframes getmap {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.map {
    position: relative;
    width: fit-content;
}

.map img {
    max-width: 100vw;
    max-height: calc(100vh - 60px);
}

.geoNone {
    display: none;
}

.geo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: yellow;
    cursor: pointer;
    transition: all ease .15s;
    animation: 1.5s fly normal;
}


@keyframes fly {
    0% {
        margin-top: -500px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}


.geo:hover {
    padding-top: 3px;
}

.geoTitle {
    position: absolute;
    top: 0;
    left: 80%;
    padding: 0;
    background-color: #ffffffcc;
    color: var(--dark-blue);
    font-size: .8em;
    font-weight: 600;
    border-radius: 3px;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.geoTitleHover {
    transition: all .5s ease;
    padding: 3px 7px;
    width: fit-content;
    height: fit-content;
    opacity: 1;
    z-index: 100;
}

.tempList {
    list-style: none;
    margin-left: 50px;
    line-height: 1.4em;
    padding-bottom: 30px;
    display: block;
}

.tempList li {
    cursor: pointer;
    width: fit-content;
    padding: 2px 0;
}

.tempList li:hover {
    color: var(--dark-blue);
    font-weight: 500;
}

.iconsWrap {
    width: 80%;
    margin: 0 auto 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 10px;
    justify-content: center;
}

.iconWrap {
    width: 23.5%;
    cursor: pointer;
    padding: 8px;
    transition: .25s ease all;
}

.iconLabel {
    font-size: .9em;
    margin-top: 5px;
    text-align: center;
}

.iconWrap:hover {
    color: var(--dark-blue);
    padding: 5px;
    opacity: .9;
}

.iconWrap img {
    border: 1px solid var(--beige);
    width: 100%;
    border-radius: 15%;
}

.iconsLocationsMobile {
    display: none;
}

@media screen and (max-width: 991px) {
    .tempList {
        margin-left: 30px;
    }

    .iconsWrap {
        width: 90%;
    }

    .iconWrap {
        width: 32%;
    }
}

@media screen and (max-width: 768px) {
    .mapWrap {
        display: none;
    }

    .iconsLocationsMobile {
        display: block;
    }

    .tempList {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .iconsWrap {
        row-gap: 5px;
    }

    .iconWrap {
        width: 49%;
    }
}

@media screen and (max-width: 480px) {
    .tempList {
        margin-left: 15px;
    }
}