.aboutWrap {
    display: flex;
    align-items: flex-start;
}

.aboutLeftContent {
    width: 80%;
}

.audioBox {
    height: 34px;
    margin: 10px 0 -10px 40px;
}

.audioBox audio {
    height: 100%;
}

.catHeadWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutRightContent {
    width: 20%;
    padding-top: 50px;
    float: right;
}

.aboutRightContent img {
    width: 80%;
    margin: 0 auto;
}

.vrezka {
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.4em;
    color: white;
    background-color: var(--dark-grey-blue);
    width: fit-content;
    padding: 15px 15px 15px 50px;
}

.text {
    padding: 30px 0 0 50px;
    font-family: var(--serif);
}

.text p {
    text-indent: 30px;
    font-size: 1.05em;
    line-height: 1.4em;
    margin-bottom: .7em;
}

.endLine {
    margin: 30px 0 30px 50px;
    height: 1px;
    background-color: var(--dark-grey-blue);
}

.thanks,
.dedication {
    text-indent: 30px;
    line-height: 1.4em;
    font-style: italic;
    font-size: 1.05em;
    font-family: var(--serif);
    padding-left: 50px;
}

.dedication {
    padding-bottom: 50px;
    padding-top: 20px;
}

@media screen and (max-width: 991px) {
    .aboutRightContent {
        display: none;
    }

    .aboutLeftContent {
        width: 100%;
        padding-right: 30px;
    }

    .vrezka,
    .text,
    .thanks,
    .dedication {
        padding-left: 30px;
    }

    .endLine {
        margin-left: 30px;
    }

    .audioBox {
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .catHeadWrap {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .aboutLeftContent {
        padding-right: 15px;
    }

    .vrezka,
    .text,
    .thanks,
    .dedication {
        padding-left: 15px;
    }

    .endLine {
        margin-left: 15px;
    }

    .audioBox {
        margin: 10px auto -10px;
        width: fit-content;
    }
}