.articlePageWrap {
}

.articleHead {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: auto;
    border-bottom: 1px solid var(--beige);
}

.titleSubtitleWrap {
    padding-left: 50px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-size: cover;
    background-position: center;
    width: 53%;
}

.titleArticle {
    font-size: 2.5em;
    font-weight: 500;
    opacity: 1;
    width: fit-content;
    border-bottom: 1px solid var(--dark-blue);
    padding-bottom: 20px;
    font-family: var(--sans);
    color: var(--dark-blue);
    animation: titleArt 1.5s normal;
}

@keyframes titleArt {
    0% {
        opacity: 0;
    }

    20% {
        margin-left: -80px;
        opacity: 0;
    }

    100% {
        margin-left: 0;
        opacity: 1;
    }
}

.subTitle {
    font-size: 1.7em;
    color: var(--blue);
    max-width: 90%;
    opacity: 1;
    animation: subTitle 1.5s normal;
}

@keyframes subTitle {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mainImgWrap {
    width: 47%;
    border-right: 15px solid var(--grey-blue);
    opacity: 1;
    animation: mainImg 2s alternate;
}

@keyframes mainImg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.vrezkaWrap {
    padding: 30px 0;
    background-color: var(--light-beige);
    font-style: italic;
    font-family: var(--serif);
    font-size: 1.1em;
    line-height: 1.4em;
}

.vrezka {
    white-space: pre-wrap;
    width: 70%;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1em;
}

.photoAuthor {
    height: 50px;
    margin-bottom: -50px;
    width: fit-content;
    max-width: 400px;
    font-size: .9em;
    font-style: italic;
    padding: 10px 0 0 40px;
}

.chapterWrap {
    padding: 40px 0 0;
}

.endLine {
    width: 70%;
    margin: 40px auto 0;
    height: 1px;
    background-color: var(--beige);
}

.chapterTitle {
    font-size: 1.7em;
    color: var(--blue);
    line-height: 1.4em;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 20px;
}

.chapterAuthor {
    width: fit-content;
    border-radius: 4px;
    margin: 0 auto;
    font-size: .8em;
    padding: 5px 12px;
    color: white;
    background-color: var(--brown);
}

.chapterText {
    padding: 30px 15px 0 15px;
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.chapterText p {
    margin-bottom: 10px;
    text-indent: 30px;
    line-height: 1.5em;
}

.chapterText p.ps {
    font-style: italic;
    font-family: var(--serif);
    font-size: 1.07em;
    text-indent: 0;
    text-align: center;
    color: var(--deep-blue);
}

.vinietka {
    width: 150px;
    margin: 20px auto 0;
}

.subArticleWrap {
    width: 60%;
    font-size: .95em;
    line-height: 1.4em;
    border-top: 1px solid var(--grey-blue);
    border-bottom: 1px solid var(--grey-blue);
    margin: 30px auto 20px;
    padding: 0 25px 25px;
    background: linear-gradient(180deg, var(--light-grey-blue), var(--ex-light-blue));
}

.subArticleTitle {
    color: white;
    font-weight: 500;
    background-color: var(--dark-grey-blue);
    width: fit-content;
    padding: 5px 25px;
    margin: 0 0 20px -25px;
}

.subArticleText {

}