.articlePageWrap {
    position: relative;
    padding-bottom: 41px;
}

.articleHead {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: auto;
    border-bottom: 1px solid var(--beige);
}

.articlesNavWrap {
    position: absolute;
    font-size: .9em;
    top: 10px;
    right: 50px;
}

.articlesNavWrapBottom {
    top: auto;
    bottom: 10px;
}

.titleSubtitleWrap {
    order: 1;
    padding-left: 50px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-size: cover;
    background-position: center;
    width: 53%;
}

.titleArticle {
    font-size: 2.5em;
    font-weight: 500;
    opacity: 1;
    width: fit-content;
    border-bottom: 1px solid var(--dark-blue);
    padding-bottom: 20px;
    font-family: var(--sans);
    color: var(--dark-blue);
    animation: titleArt 1.5s normal;
}

@keyframes titleArt {
    0% {
        opacity: 0;
    }

    20% {
        margin-left: -80px;
        opacity: 0;
    }

    100% {
        margin-left: 0;
        opacity: 1;
    }
}

.subTitle {
    font-size: 1.7em;
    color: var(--blue);
    max-width: 90%;
    opacity: 1;
    animation: subTitle 1.5s normal;
}

@keyframes subTitle {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mainImgWrap {
    order: 0;
    width: 47%;
    border-right: 15px solid var(--grey-blue);
    opacity: 1;
    animation: mainImg 2s alternate;
}

@keyframes mainImg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.vrezkaWrap {
    padding: 30px 0;
    background-color: var(--light-beige);
    font-style: italic;
    font-family: var(--serif);
    font-size: 1.1em;
    line-height: 1.4em;
}

.vrezka {
    white-space: pre-wrap;
    width: 70%;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1em;
}

.photoAuthor {
    height: 50px;
    margin-bottom: -50px;
    width: fit-content;
    max-width: 400px;
    font-size: .9em;
    font-style: italic;
    padding: 5px 0 0 40px;
}

.chapterWrap {
    padding: 40px 0 0;
}

.endLine {
    width: 70%;
    margin: 40px auto 0;
    height: 1px;
    background-color: var(--beige);
}

.chapterTitle {
    font-size: 1.7em;
    color: var(--blue);
    line-height: 1.4em;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding: 0 30px 20px 30px;
}

.chapterAuthor {
    width: fit-content;
    border-radius: 4px;
    margin: 0 auto;
    font-size: .8em;
    padding: 5px 12px;
    color: white;
    background-color: var(--brown);
}

.chapterText {
    padding: 30px 15px 0 15px;
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.chapterText p {
    margin-bottom: 10px;
    text-indent: 30px;
    line-height: 1.5em;
}

.chapterText p.ps {
    font-style: italic;
    font-family: var(--serif);
    font-size: 1.07em;
    color: var(--deep-blue);
}

.monoImgNormal,
.monoImgHor {
    width: 20%;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.monoImgHor {
    width: 50%;
}

.imgVert,
.imgHor {
    width: 30%;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.imgHor {
    width: 50%;
}

.imgCenter {
    width: 60%;
    margin: 15px auto 0;
}

.vinietka {
    width: 150px;
    margin: 20px auto 0;
    clear: both;
}

.subArticleWrap {
    width: 60%;
    font-size: .95em;
    line-height: 1.4em;
    border-top: 1px solid var(--grey-blue);
    border-bottom: 1px solid var(--grey-blue);
    margin: 30px auto 20px;
    padding: 0 25px 25px;
    background: linear-gradient(180deg, var(--light-grey-blue), var(--ex-light-blue));
}

.subArticleTitle {
    color: white;
    font-weight: 500;
    background-color: var(--dark-grey-blue);
    width: fit-content;
    padding: 5px 25px;
    margin: 0 0 20px -25px;
}

.subArticleText {
}

@media screen and (max-width: 991px) {
    .articlesNavWrap {
        right: 30px;
    }

    .articlesNavWrapBottom {
        top: auto;
    }

    .titleSubtitleWrap {
        width: 100%;
        padding: 40px 50px 30px;
    }

    .chapterText {
        width: 90%;
    }

    .subArticleWrap {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .articlePageWrap {
        padding-bottom: 56px;
    }

    .articleHead {
        display: block;
    }

    .mainImgWrap {
        width: 100%;
        border-top: 15px solid var(--grey-blue);
        border-right: none;
    }

    .vrezka {
        width: 90%;
    }

    .chapterText {
        width: 100%;
        padding: 30px 30px 0 30px;
    }
}

@media screen and (max-width: 640px) {
    .titleArticle {
        font-size: 2.2em;
    }

    .chapterTitle {
        font-size: 1.5em;
    }

    .subTitle {
        font-size: 1.5em;
    }

    .photoAuthor {
        height: 40px;
        margin-bottom: -40px;
        font-size: .8em;
        padding-top: 3px;
    }

    .chapterText {
        padding-top: 25px;
    }

    .chapterText p {
        text-indent: 20px;
    }
}

@media screen and (max-width: 480px) {
    .articlesNavWrap {
        font-size: .85em;
        right: 15px;
    }

    .articlesNavWrapBottom {
        right: auto;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .titleSubtitleWrap {
        padding: 40px 25px 30px;
    }

    .titleArticle {
        font-size: 1.9em;
    }

    .chapterTitle {
        font-size: 1.3em;
    }

    .subTitle {
        font-size: 1.3em;
    }

    .chapterText {
        padding: 20px 15px 0 15px;
    }

    .vrezka {
        width: 100%;
    }

    .chapterWrap {
        padding-top: 30px;
    }

    .endLine {
        width: 80%;
        margin-top: 30px;
    }

    .photoAuthor {
        padding-left: 20px;
    }
}

@media screen and (max-width: 360px) {
    .titleArticle {
        font-size: 1.7em;
    }

    .chapterTitle {
        font-size: 1.2em;
    }

    .subTitle {
        font-size: 1.2em;
    }
}