.creatorsWrap {
    width: 80%;
    padding: 0 0 50px 50px;
}

.personWrap {
    display: flex;
    padding: 10px 0;
    gap: 1%;
}

.personRole {
    width: 31%;
}

.personName {
    width: 68%;
    font-weight: 500;
}