.mainPageWrap {
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/images/norilsk-main.png');
    background-size: cover;
    background-position: top;
    position: relative;
}

.visible {
    opacity: 1;
    transition: all ease 3s;
}

.invisible {
    opacity: 0;
    transition: all ease .2s;
}

.starWrap {
    width: 6vw;
    height: 6vw;
    min-width: 9vh;
    min-height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 2%;
}

.starZero {
    width: 20%;
    opacity: 0;
}

.starAnimated {
    width: 100%;
    animation: down 7s normal;
    /*animation: down 7s infinite;*/
}

@keyframes down {
    0% {
        width: 30%;
        opacity: .3;
    }
    5% {
        width: 100%;
        opacity: 1;
    }
    10% {
        width: 30%;
        opacity: .3;
    }
    15% {
        width: 100%;
        opacity: 1;
    }
    /*95% {*/
    /*    width: 100%;*/
    /*    opacity: 1;*/
    /*}*/
    /*100% {*/
    /*    width: 30%;*/
    /*    opacity: .3;*/
    /*}*/

}

.mainTitleWrap {
    position: absolute;
    font-weight: 400;
    color: #fff;
    top: 6vw;
    left: calc(58vw + 80px);
    text-align: right;
    font-family: var(--serif);
}

.mainTitle {
    font-size: 5.12vw;
}

.mainSubTitle {
    font-size: 2.2vw;
    font-style: italic;
}

.titleInvisible {
    margin-top: -150px;
    opacity: 0;
}

.titleVisible {
    margin-top: 0;
    opacity: 1;
    transition: all ease 2s;
}

.mainPageMenu {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.menuItem {
    width: 0;
    font-family: var(--sans);
    overflow: hidden;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: calc(1.5vw + 5px);
    text-transform: uppercase;
    padding: .5vw 0 .3vw 3vw;
    background: linear-gradient(90deg, #4ea5d0, #4ea5d000);
    box-shadow: -30px 3px 15px 0 #254554;
    cursor: pointer;
    margin-left: -3vw;
    opacity: 0;
    transition: all .5s ease;
}

.menuItem:hover {
    background: linear-gradient(90deg, #60caff, #4ea5d000);;
    transition: all .5s ease;
}

.menuItemVisible {
    margin-left: 0;
    width: 18vw;
    opacity: 1;
}

@media screen and (max-width: 640px) {
    .mainPageWrap {
        background-image: url('../../../assets/images/norilsk-main-mobile.png');
    }

    .starWrap {
        top: 30vw;
        left: 44%;
    }

    .mainTitleWrap {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
        padding-top: 20px;
        text-align: center;
    }

    .titleInvisible {
        margin-top: -50px;
    }

    .titleVisible {
        transition: all ease 1s;
    }

    .mainTitle {
        font-size: 2.5em;
    }

    .mainSubTitle {
        font-size: 1.3em;
    }

    .mainPageMenu {
        display: none;
    }
}

@media screen and (max-width: 480px) {

}
