.personsWrap {
    margin: 0 0 50px 50px;
}

.personWrap {
    display: flex;
    margin-bottom: 20px;
    gap: 2%;
}

.personRole {
    width: 31%;
}

.audioRole {
    font-weight: 600;
    color: var(--blue);
}

.personName {
    width: 67%;
    font-weight: 500;
}

@media screen and (max-width: 991px) {
    .personsWrap {
        margin-left: 30px;
    }
}

@media screen and (max-width: 640px) {
    .personWrap {
        flex-direction: column;
        gap: 2px
    }

    .personRole,
    .personName {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .personsWrap {
        margin-left: 15px;
    }
}