.footerWrap {
    width: 100%;
    height: 75px;
    background-color: var(--deep-blue);
    border-top: 1px solid var(--light-cyan);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: .5s ease all;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.footerVisible {
    opacity: 1;
}

.mediaschool {
    display: block;
    height: 54px;
}

.nornikel {
    display: block;
    height: 30px;
}

.gorod {
    display: block;
    height: 43px;
}

.footerWrap img {
    height: 100%;
}

.addresses {
    font-family: var(--sans);
    font-size: .8em;
    line-height: 1.3em;
    text-align: left;
    color: var(--base-white);
    border-left: 1px solid var(--light-cyan);
    padding-left: 30px;
}

@media screen and (max-width: 850px) {
    .footerAddresses {
        font-size: 0.75em;
    }

    .footerWrap img {
        height: 90%;
    }
}

@media screen and (max-width: 768px) {
    .addresses {
        display: none;
    }

    .footerWrap img {
        height: 100%;
    }
}

@media screen and (max-width: 640px) {
    .footerWrap {
        display: none;
    }
}
