.footerWrap {
    width: 100%;
    height: 90px;
    background-color: var(--deep-blue);
    border-top: 1px solid var(--light-cyan);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: .5s ease all;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footerVisible {
    opacity: 1;
}

.mediaschool {
    display: block;
    height: 54px;
}

.nornikel {
    display: block;
    height: 30px;
}

.gorod {
    display: block;
    height: 43px;
}

.footerWrap img {
    height: 100%;
}

.footerAddresses {
    font-family: var(--sans);
    font-size: .8em;
    line-height: 1.3em;
    text-align: left;
    color: var(--base-white);
    border-left: 1px solid var(--light-cyan);
    padding-left: 30px;
}
