.arrowDown,
.arrowUp {
    height: 80px;
    margin-top: -20px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transform: scaleY(.5);
}

.arrowDown::before,
.arrowUp::before {
    content: '';
    position: absolute;
    left: calc(50% - 1vw);
    width: 3.5vw;
    height: 3.5vw;
    transform: rotate(-45deg);
    opacity: .75;
}

.arrowDown::before {
    border-left: 8px solid var(--light-cyan);
    border-bottom: 8px solid var(--light-cyan);
    animation: down 6s infinite;
}

.arrowDown:hover::before,
.arrowUp:hover::before {
    opacity: 1;
}

.arrowUp::before {
    top: 30px;
    border-top: 8px solid var(--blue);
    border-right: 8px solid var(--blue);
}

@keyframes down {
    35% {
        top: 0;
    }
    40% {
        top: 20px;
    }
    45% {
        top: 10px;
    }
    50% {
        top: 20px;
    }
    60% {
        top: 0;
    }

}