.arrowDown,
.arrowUp {
    height: 80px;
    margin-top: -20px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transform: scaleY(.5);
}

.arrowDown::before,
.arrowUp::before {
    content: '';
    position: absolute;
    left: calc(50% - 1vw);
    width: 3.5vw;
    height: 3.5vw;
    transform: rotate(-45deg);
    opacity: .75;
}

.arrowDown::before {
    border-left: 8px solid var(--light-cyan);
    border-bottom: 8px solid var(--light-cyan);
    animation: down 6s infinite;
}

.arrowUp::before {
    top: 30px;
    border-top: 8px solid var(--blue);
    border-right: 8px solid var(--blue);
}

.arrowDown:hover::before,
.arrowUp:hover::before {
    opacity: 1;
}

@keyframes down {
    35% {
        top: 0;
    }
    40% {
        top: 20px;
    }
    45% {
        top: 10px;
    }
    50% {
        top: 20px;
    }
    60% {
        top: 0;
    }
}

@keyframes up {
    35% {
        top: 10px;
    }
    43% {
        top: 30px;
    }
    53% {
        top: 5px;
    }
    57% {
        top: 10px;
    }
}

@media screen and (max-width: 640px) {
    .arrowDown,
    .arrowUp {
        height: 60px;
        left: -17px;
    }

    .arrowUp::before,
    .arrowDown::before {
        width: 35px;
        height: 35px;
    }

    .arrowUp::before {
        top: 35px;
        border-top: 8px solid var(--light-cyan);
        border-right: 8px solid var(--light-cyan);
    }

    .arrowDown::before {
        top: 10px;
        animation: up 4s infinite;
    }
}