.prologWrap {
    position: absolute;
    top: 16.5vw;
    right: 0;
    width: calc(37vw + 50px);
}

.prologTextBlock {
    background-color: #ffffffcc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0;
    height: 100%;
    padding: 0 35px;
    font-style: italic;
    font-family: var(--serif);
    font-size: 1.1em;
    transition: all 1s ease;
}

.prologVisible {
    padding: 50px 35px 35px;
    opacity: 1;
    transition: all 1s ease;
}

.prologBtnWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .prologWrap {
        width: 100%;
        left: 0;
        top: auto;
        bottom: 60px;
    }

    .prologTextBlock {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        padding: 20px;
    }

    .prologVisible {
        padding: 20px 20px 60px;
    }

    .prologBtnWrap {
        transform: rotateX(180deg);
        top: auto;
        bottom: 10px;
        width: 72px;
        border: 1px solid white;
        background-color: var(--blue-opacity);
        border-radius: 4px;
        left: calc(50% - 36px);
    }
}